.your-code {
    margin-top: 40px;
    border: 2px solid darkmagenta;
}

.heading {
    margin: 20px;
    text-decoration: double underline;
    font-weight: bold;
}

.active {
    background-color: #18798a;
}